.tdate {
  font-family: "Monoco", monospace;
  font-size: x-large;
  background-color: "#f5fff4";
}
.tnumber {
  font-family: "Monoco", monospace;
  opacity: 0.5;
 
} 
.ttitle {
  font-size: x-large;
  position: relative;
  top: 0; 
}
.lecture{
  background-color: #f5fff4;
}
.module{
  background-color: #bbbbbb;
  margin-left: -300px;
  padding-left: 300px;
  padding-right: 292px;
}
.holiday{
  background-color: #bbddbb;
}
.section{
  background-color: #aaccdd;
}
#rPerClass {
  padding-top: 15px;
  border-bottom: 2px solid DarkGray;
  width: 100%;
}
th, td {
  border-style: none;
  border-width: 0px;
}
.readings{
}
.parent {
    display: grid;
    grid-template-columns: 1fr .6fr;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
}
.titleparent {
    display: grid;
    grid-template-columns: .20fr .8fr;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 5%;
}
.two-column1 { 
  grid-area: 1 / 2 / 2 / 3;
  padding-right: 20px;
  padding-top: 16px;
  }
.two-column2 { 
  grid-area: 1 / 1 / 1 / 1;
  min-width: 0;
  min-height: 0;
  overflow-wrap: normal;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.button {
  font-size: large;
  color: #F7F3E9;
  border: 2px solid DarkGray;
  border-radius: 5px;
  background-color: #000000;
  padding: 7px;
}