.parent {
  display: grid;
  grid-template-columns: 1fr .6fr;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  grid-column-gap: 5%;
  grid-row-gap: 5%;
}
.two-column1 { 
grid-area: 1 / 2 / NaN / NaN;
max-width: 100%; 
}
.two-column2 { 
grid-area: 1 / 1 / 1 / 1;
min-width: 0;
min-height: 0;
overflow-wrap: normal;
}